body {
  --DEF-background-color: rgba(0, 0, 0, 1);
  --DEF-save-level0-sep: "\\e\\";
  font-family: sans-serif;
  display: flex;
  align-items: center;
  background-color: var(--DEF-background-color);
  user-select: none;
  font-size: 15px;
}

div {
  color: aliceblue;
  background-color: var(--DEF-background-color);
}

.player-tile {
  width: 100%;
  height: 100%;
  display: flex;
  border: 1px aqua solid;
  border-radius: 2px;
}
.player-tile-left {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-right: 1px aqua solid;
}
.player-tile-right {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.player-tile-name {
  display: flex;
  width: 100%;
  height: 20%;
  border-right: 1px aqua solid;
  border-bottom: 1px aqua solid;
}
.player-tile-left-bottom {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80%;
}
.player-tile-status-bars {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 60%;
  border-right: 1px aqua solid;
}

.enemy-tile {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px aqua solid;
  border-radius: 2px;
}
.enemy-tile-top {
  display: flex;
  height: 20%;
  border-bottom: 1px aqua solid;
  border-top: none;
  border-right: none;
}
.enemy-tile-name {
  display: flex;
  width: 70%;
  border-right: 1px aqua solid;
}
.enemy-tile-rewards {
  display: flex;
  width: 30%;
}
.enemy-tile-bottom {
  display: flex;
  height: 80%;
}
.enemy-tile-bottom-left {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
  border-right: 1px aqua solid;
}
.entity-tile-modifiers {
  width: 20%;
  height: 100%;
}
.entity-tile-stats {
  display: flex;
  flex-direction: column;
  height: 40%;
  border-bottom: 1px aqua solid;
}
.enemy-tile-bottom-left-bottom {
  display: flex;
  height: 60%;
}
.enemy-tile-status-bars {
  display: flex;
  flex-direction: column;
  width: 70%;
  border-right: 1px aqua solid;
}
.entity-tile-hp {
  width: 100%;
  height: 33%;
  background-color: #911;
  border-bottom: 1px aqua solid;
}
.entity-tile-hp-bar {
  width: 66%;
  background-color: #e22;
  z-index: 1;
  height: 100%;
}
.entity-tile-sta {
  width: 100%;
  height: 33%;
  background-color: #191;
  border-bottom: 1px aqua solid;
}
.entity-tile-sta-bar {
  width: 66%;
  background-color: #2e2;
  z-index: 1;
  height: 100%;
}
.entity-tile-mp {
  width: 100%;
  height: 33%;
  background-color: #119;
  z-index: 0;
}
.entity-tile-mp-bar {
  width: 66%;
  background-color: #22e;
  z-index: 1;
  height: 100%;
}
.enemy-tile-next-move-cell {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.enemy-tile-next-move-symbols {
  display: flex;
  flex-direction: column;
  height: 33%;
  border-bottom: 1px aqua solid;
}
.enemy-tile-next-move-cells {
  display: flex;
  flex-direction: column;
  height: 66%;
}
.enemy-tile-next-move-row {
  display: flex;
  height: 33%;
  border-bottom: 1px aqua solid;
}
.enemy-tile-next-move-row._2 {
  border-bottom: none;
}
.enemy-tile-next-move-row-cell {
  display: flex;
  width: 33%;
  height: 100%;
  border-right: 1px aqua solid;
}
.enemy-tile-next-move-row-cell._2 {
  border-right: none;
}

.text-medium {
  font-size: small;
}

.text-red {
  color: red;
}

.text-physical {
  color: steelblue;
}
.text-fire {
  color: rgb(254, 155, 33);
}
.text-earth {
  color: rgb(158, 71, 34);
}
.text-water {
  color: #2222ff;
}
.text-wind {
  color: #ddd;
}

.flex-container {
  display: flex;
}

/*                                                                FIGHT SCREEN                     */
#FightScreen {
  --FS-row1--height: 150px;
  --FS-row2--height: 420px;
  --FS-row3--height: 300px;
  --FS-col1-width: 19%;
  --FS-col2-width: 61%;
  --FS-col3-width: 19%;
  --FS-grid-row-gap: 10px;
  --FS-grid-col-gap: 10px;
  --FS-border-rad: 4px;
  display: grid;
  position: relative;
  padding: 20px;
  grid-row-gap: var(--FS-grid-row-gap);
  grid-template-rows: var(--FS-row1--height) var(--FS-row2--height) var(
      --FS-row3--height
    );
  grid-template-columns: 1400px;
}

#FightScreen > .bar {
  display: grid;
}

#FightScreenInfoBar {
  display: grid;
  grid-row: 1;
  align-content: space-between;
  grid-template-rows: var(--FS-row1--height);
  grid-template-columns: var(--FS-col1-width) var(--FS-col2-width) var(
      --FS-col3-width
    );
  grid-column-gap: var(--FS-grid-col-gap);
}

#FSInfoBarStatusBars {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  border: solid red 3px;
}

#FSInfoBarPlayerInfo {
  grid-column: 3;
  border: solid red 3px;
}

#FSInfoBarEnemyGrid {
  grid-column: 2;
  display: grid;
  --FSIBEG-row-height: 72px;
  --FSIBEG-col-width: 209px;
  --FSIBEG-nr-cols: 4;
  --FSIBEG-nr-rows: 2;
  column-gap: 8px;
  row-gap: 6px;
  grid-template-rows: repeat(var(--FSIBEG-nr-rows), var(--FSIBEG-row-height));
  grid-template-columns: repeat(var(--FSIBEG-nr-cols), var(--FSIBEG-col-width));
}

#FSInfoBarEnemyGrid > .enemy_cell {
  --FSIBEGEC-top-height: 18px;
  --FSIBEGEC-bot-height: 54px;
  display: grid;
  color: aliceblue;
  text-align: center;
  grid-template-columns: 177px 32px;
  grid-template-rows: var(--FSIBEGEC-top-height) var(--FSIBEGEC-bot-height);
  cursor: default;
}

#FSInfoBarEnemyGrid > .enemy_cell > div > div {
  border: solid aqua 1px;
}

#FSInfoBarEnemyGrid > .enemy_cell > .top {
  grid-row: 1;
  grid-column: 1;
  display: flex;
  height: var(--FSIBEGEC-top-height);
}

#FSInfoBarEnemyGrid > .enemy_cell > .top > .number {
  display: grid;
  align-items: center;
  vertical-align: middle;
  width: 16px;
  border-top-left-radius: var(--FS-border-rad);
}

#FSInfoBarEnemyGrid > .enemy_cell > .top > .name {
  display: grid;
  align-items: center;
  vertical-align: middle;
  width: 193px;
}

#FSInfoBarEnemyGrid > .enemy_cell > .desc {
  display: inherit;
  border: solid aqua 1px;
  align-items: center;
  vertical-align: middle;
  grid-row: 2;
  grid-column: 1;
  border-bottom-left-radius: var(--FS-border-rad);
}

#FSInfoBarEnemyGrid > .enemy_cell > .mods {
  border: solid aqua 1px;
  grid-column: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  border-top-right-radius: var(--FS-border-rad);
  border-bottom-right-radius: var(--FS-border-rad);
}

#FSInfoBarEnemyGrid > .plan_countdown {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row: 2;
  display: flex;
  column-gap: 2px;
}

#FSInfoBarEnemyGrid > .plan_countdown > .timer {
  color: aliceblue;
  text-align: center;

  display: grid;
  align-items: center;
  vertical-align: middle;
  width: 272px;
  border: solid aqua 1px;
  border-radius: var(--FS-border-rad);
  font-size: xx-large;
  font-weight: bolder;
  cursor: default;
}

#FSInfoBarEnemyGrid > .plan_countdown > .end_planning {
  color: aliceblue;
  text-align: center;
  grid-column-start: 2;
  grid-column-end: 4;
  display: grid;
  align-items: center;
  vertical-align: middle;
  width: 75px;
  border: solid purple 3px;
  border-radius: var(--FS-border-rad);
  font-size: large;
  font-weight: bolder;
  cursor: pointer;
}

#FightScreenActionBar {
  --FSAB-list-elem-height: 32px;
  display: grid;
  grid-template-columns: var(--FS-col1-width) var(--FS-col2-width) var(
      --FS-col3-width
    );
  grid-column-gap: var(--FS-grid-col-gap);
}

#FSActionBarSpellActions {
  grid-column: 1;
  border: solid red 3px;
}

#FSActionBarAreaGrid {
  display: grid;
  grid-column: 2;
  --FSABAG-nr-cols: 3;
  --FSABAG-nr-rows: 3;
  --FSABAG-cell-widht: 33%;
  --FSABAG-cell-height: 33%;
  grid-template-rows: repeat(var(--FSABAG-nr-rows), var(--FSABAG-cell-height));
  padding: 2%;
}

#FSActionBarAreaGrid > .row {
  display: flex;
  flex-direction: row;
  position: relative;
}

#FSActionBarAreaGrid > .row > .tile {
  border: solid black 2px;
  width: var(--FSABAG-cell-widht);
  text-align: center;
  vertical-align: middle;
  cursor: none;
  padding: 1.5%;
}

#FSActionBarAreaGrid > .row > .cell > div > div {
  position: relative;
  transform: skewX(25deg);
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 45px;
  background-color: rgba(0, 0, 0, 0);
}

#FSActionBarOtherActions {
  grid-column: 3;
  border: solid red 3px;
  pointer-events: all;
}

#FightScreenActionBar > div > .action_list_element {
  border: solid red 2px;
  width: calc(var(--FSAB-col1-width) - 6px);
  display: flex;
  align-items: center;
  justify-content: center;
}

#FSActoinBarDragAction {
  pointer-events: none;
  border: solid red 4px;
  position: absolute;
  width: 200px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#FightScreenDragObject {
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  position: absolute;
}

#FightScreenActionPlanBar {
  display: grid;
  --FSACB-row-height: 160px;
  --FSACB-col-width: 268px;
  --FSACB-nr-rows: 2;
  --FSACB-nr-cols: 5;
  --FSAPB-card-width: 90px;
  --FSAPB-card-height: 126px;
  --FSAPB-deck-width: 80px;
  --FSAPB-deck-height: 112px;
  column-gap: var(--FS-grid-col-gap);
  row-gap: var(--FS-grid-row-gap);
  grid-template-rows: repeat(var(--FSACB-nr-rows), var(--FSACB-row-height));
  grid-template-columns: repeat(var(--FSACB-nr-cols), var(--FSACB-col-width));
}

#FightScreenActionPlanBar > .action_card_space {
  --FSAPBACS-actoin-height: 16px;
  --FSAPBACS-card_holder-height: calc(
    var(--FSACB-row-height) - var(--FSAPBACS-actoin-height)
  );
  border: dashed purple 5px;
  display: flex;
  flex-direction: column;
  height: var(--FSABAG-nr-rows);
}

#FightScreenActionPlanBar > .action_card_space > .action {
  display: grid;
  text-align: center;
  vertical-align: middle;
  border: solid purple 3px;
  height: 16px;
  cursor: pointer;
  pointer-events: none;
}

#FightScreenActionPlanBar > .action_card_space > .card_holder {
  position: relative;
  display: flex;
  pointer-events: none;
  height: var(--FSAPBACS-card_holder-height);
}

#FightScreenActionPlanBar > .action_card_space > .card_holder > .card {
  position: absolute;
  border: solid red 3px;
  border-radius: calc(var(--FS-border-rad) * 1.5);
  width: var(--FSAPB-card-width);
  height: var(--FSAPB-card-height);
  background-color: var(--DEF-background-color);
  cursor: default;
}

#FSActionPlanBarDragCard {
  position: absolute;
  display: none;
  background-color: var(--DEF-background-color);
  border: solid red 3px;
  border-radius: calc(var(--FS-border-rad) * 1.5);
  width: var(--FSAPB-card-width);
  height: var(--FSAPB-card-height);
  cursor: grabbing;
  pointer-events: none;
}

#FightScreenActionPlanBar > .deck_holder {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row: 2;
  display: flex;
  column-gap: var(--FS-grid-col-gap);
  justify-content: space-around;
}

#FightScreenActionPlanBar > .deck_holder > .deck {
  width: var(--FSAPB-deck-width);
  height: var(--FSAPB-deck-height);
  display: grid;
  text-align: center;
  align-content: center;
  border: solid purple 3px;
  border-radius: var(--FS-border-rad);
  cursor: pointer;
}
